*, *:before, *:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(28, 28, 28);
    font-size: 62.5%;
}
ul{


    list-style: none;
}
/* navbar */
nav{
    width:100%;
    min-height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   font-size: 2rem;
   color:#fff;
   border-bottom: 1px solid #fff;
}

.nav-one, .nav-two{
    width:35%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right:1px solid white;
}
.nav-three, .nav-four{
    width:15%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-two{
    color:aqua;
}
.nav-three{
border-right:1px solid #fff;
}
 .nav-three ul{
  width:100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-three ul li svg{
    width:20px;
    fill:#fff;
 /* fill is used to change color of svgs */
}
.grid-container{
    height:90vh;
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 4fr 2fr;
}
.grid-container>*{
    border:1px solid white;
}
.item1,.item2,.item3,.item4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 img {
    width:600px;

}
.item2{
    color:#fff;
    padding:3em;
    font-size: 1.6rem;
}
.item3{
    color:#fff;
    font-size: 2rem;
}
.item4{
    color:#fff;
    font-size: 1.6rem;
}
.nasa-link{
    font-size:1.6rem;
    color:#fff;
    margin-top:2em;
    text-align: center;
}
.nasa-link a{
    color:#fff;
}