*, *:before, *:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(5, 10, 24);
    font-size: 62.5%;
}
ul{
    list-style: none;
}
/* navbar */
nav{
    width:100%;
    min-height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   font-size: 2rem;
   color:#fff;
   border-bottom: 1px solid #fff;
}
nav > *{
    
}
.nav-one, .nav-two{
    width:35%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right:1px solid white;
}
.nav-three, .nav-four{
    width:15%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-three{
border-right:1px solid #fff;
}
.nav-two ul, .nav-three ul{
  width:100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-three ul li svg{
    width:20px;
 fill:#fff;
 /* fill is used to change color of svgs */
}